*.pyc
__pycache__
.mypy_cache
/node_modules
/code/*.js
/code/*.js.map
/code/*.mjs
/code/*.mjs.map
/fairDiv/*.html

/secret
/output
/deploy
/external
.env

# Trash
*~
*.sw[po]
*.db
*.zip
Desktop.ini
.DS_Store
